<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" >
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div id="table1">
            <a href="clear_session" id="logout">LOG OUT</a> 
        </div>
        <div id="out">
        <h1> LOST MINE OF VALDAK</h1>
        </div>
        <div id="game">
            <!-- <img src=" alt="monster.png" id="img"> -->
                <div class="bottom">
                    <div id="dio">
                    <p id="dialogue">  CAREFUL! {{health.user_id}} looks like youve come across your first enemy,these guys are known for there grusome way of killing you
                    </p>

                    <a href="runway.html" class="option">RUN AWAY  </a>   
                    <a href="fight#game" class="option">  LEARN TO FIGHT <input type="hidden" name="health" value="90"><input type="hidden" name="page" value="2"></a>
                    </div>
                    <a href="invo" id="invo">INVENTORY</a>
                </div>
            
        </div>
        </div>
    
</body>
</html>