<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='about_style.css') }}" >
    <title>Document</title>
</head>

<body>
        <div class="tab">
            <h1> the Lost mine of valdack forum</h1>
        </div>
    <hr class="line">
<!-- start of the body -->
<div class="sideTab">
    <h1 class="tab"><iframe src="https://free.timeanddate.com/clock/i8s83pas/n2159/fn6/fs16/fc008000/tc000/ftb/bas2/bac008000/pa8/tt0/tw1/th1/ta1/tb4" frameborder="0" width="212" height="56"></iframe>
    </h1>
    <hr class="hr">
    <a href="/clear_session" class="tag"><button class="sdbut">LOG OUT</button></a>
    <br>
    <a href="/dashboard" class="tag"><button class="sdbut">HOME</button></a>
    <br>
    <a href="/add_topic" class="tag"><button class="sdbut">ADD TOPIC </button></a>
</div>
<div class="container">
    {% for p in all_posts%}
    <ul>
        <li><p class="post"><a href="/show_post/{{p.id}}" style="color: green;">{{p.content}} 
        </a> </p>
        {% if one_user.first_name == p.creator.first_name %} 
        <a href="/delete/{{p.id}}"class='edit'>Delete</a>  |   <a href="/edit_post/{{p.id}}" class="edit">edit</a> </li> 
        {% else %} 
        {% endif %}</li>
    </ul> 
{%endfor%}
</div>
</body>
</html>