<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='about_style.css') }}" >
    <title>Document</title>
</head>
<body>
        <div class="tab">
            <h1> the Lost mine of valdak forum</h1>
        </div>
    <hr class="line">
<!-- start of the body -->
<div class="sideTab">
    <h1>sideTab</h1>
    <a href="" class="tag">log out</a>
    <br>
    <a href="" class="tag">back</a>
    <br>
    <a href="/add_topic" class="tag">add Topic </a>
</div>
<div class="container">
    <h1>this is where the forum topics will go just </h1>
</div>
</body>
</html>