<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='post_style.css') }}" >
    <title>Document</title>
</head>
            <div style="float: right; font-size: medium;"  class="tab">
                <a href="/dashboard" class="side">Home</a>   <a href="/about" class="side"> back|  </a>  <a href="/clear_session" class="side">log out</a>
            </div>
            
            <body>
                <div style="display: grid; place-items: center; ">
            {% for p in one_user.posts%}
            
            <div class="container">
                <h1 id="title">{{p.content}}</h1>
                <p id="name">added by : {{one_user.first_name}} </p>
                    </div>
                {%for comment in comments%}
                {%if comment.post_id == p.id%}
                <div id="comment_border">
                <p class="name">{{comment.poster.first_name}} {{comment.poster.last_name}} :</p>
                <p class="comment">{{comment.comment}}</p>
                    </div>
                {%endif%}
                {%endfor%}
                <div id="postacomment">
                <form action="/save_comments/{{p.id}}" method="post">
                    <label for="comments" class="txt">Post a Comment</label>
                    <input type="text" name="comment"  class="box">
                    <button class="button">comment</button>
                </form>
                </div>
{%endfor%}

    </div>
</body>
</html>