@font-face{
    font-family: 'myfont';
    src:url(fonts/AncientModernTales.ttf);
}

@font-face{
    font-family: 'cpu';
    src:url(fonts/DiaryOfAn8BitMage-lYDD.ttf);
}

body{
    background-color: black;
    height: 1500px;
}

.tab{
    display: flex;
    justify-content:center ;
}


h1{
    margin: 1 auto;
    color: green;
    font-family: 'myfont';
    font-size: 90px;
    letter-spacing: 1px;
}

.line{
    border-color: green;
}

.sideTab{
    display: flex;
    flex-direction: column;
    padding: 10px;
    float: right;
    border: solid;
    border-color: green;
    border-width: 1px;
    width: 4in;
    height: 5in;
}

.container{
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
    flex-direction: column;

}

.post{
    border-style: solid;
    border-color: green;
    width: 9in;
    height: 2in;
    font-size: 40px;
    color: green;
    font-family: 'myfont';
    display: flex;
    justify-content: center;
    padding: 20px;
}
.hr{
    border-color: green;
    width: 100%;
    }

.sdbut{
    margin-left: 1.5in;
    background-color: black;
    border-color: green;
    color:green;
    font-family: 'myfont';
    width: 1in;
    font-size: xx-large;
}
.tab{
    margin-left: 10px;
}


.edit{
    color: green;
    font-family: 'myfont';
    font-size: xx-large;

}