@font-face{
    font-family: 'myfont';
    src:url(fonts/AncientModernTales.ttf);
}

@font-face{
    font-family: 'cpu';
    src:url(fonts/DiaryOfAn8BitMage-lYDD.ttf);
}

body{
    background-color: black;
    height: 1500px;
}


.container{
    margin-top: 20px;
    width: 9in;
    height: 4in;
    border-style: solid;
    border-color: green;
    border-width: 1px;
    display: flex;
    flex-direction: column;
}

#title{
    margin-top: 1.5in;
    text-align: center;
    color: green;
    font-family: 'myfont';
    font-size: xx-large;
    word-spacing: 2px;
}

#name{
    color: green;
    text-align: center;
    font-family: 'myfont';
    font-size: x-large;
}

#comment_border{
    border-style: solid;
    border-color: green;
    border-width: 1px;
    width: 50%;
    height: 2in;
}

.comment{
    font-size: x-large;
    font-family: 'myfont';
    text-align: center;
    color: green;
}

.name{
    font-size: x-large;
    font-family: 'myfont';
    text-align: center;
    color: green;
}

#postacomment{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: green;
    border-width: 1px;
    width: 50%;
    height: 2in;
}

.txt{
    font-size: x-large;
    font-family: 'myfont';
    color: green;
}

.box{
    font-family: 'myfont';
    color: green;
    height: 50px;
    width: 500px;
    margin-top: 1in;
    background-color: black;
    border-color: green;

}

.button{
    font-size: x-large;
    font-family: 'myfont';
    background-color: black;
    color: green;
    border-color: green;
}

.side{
    color: green;
    font-size: xx-large;
    font-family: 'myfont';
    
}

